*{
    /* --prime-bg-color: #124191; */
    --prime-bg-color: rgb(220, 220, 220);
    --prime-font: Arial, Helvetica, sans-serif;
    --headline-height: 180px;
    
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); 
    border-radius: 20px 0 0 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.5); 
    box-shadow: inset 0px 0px 15px -4px black; 
    -webkit-box-shadow: inset 0px 0px 15px -4px black; 
    border-radius: 20px 0 0 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(100, 100, 100, 0.5); 
    box-shadow: inset 0px 0px 15px -4px black;
    -webkit-box-shadow: inset 0px 0px 15px -4px black; 
    border-radius: 20px;
  }

body{
    font-family: var(--prime-bg-color);
    background-color: var(--prime-bg-color);
    position: relative;
    width: 100vw;
    margin: 0;
    overflow: hidden;

    /* transform-style: preserve-3d;
    perspective-origin: top;
    perspective: 4px; */
}
/* ._3d-effect{
    transform-style: preserve-3d;
    perspective-origin: top;
    perspective: 4px;
    overflow: hidden;
    width: 100%;

} */


a:link{
    color: black;
    transition: 200ms;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 6px;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
    transition: 200ms;
    background-color: yellow;
}
a:active{
    background-color: black;
    color: white;
    transition: 200ms;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}
.column{
    display: flex;
    flex-direction: column;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex ;
    flex-direction: row;
}
.inline{
    display: flex;
    flex-direction: row;
}
.inline>*{
    line-height: 2rem;
    margin: 0.2rem;
}

.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* width: 80%; */
}
.headline{
    box-sizing: border-box;
    position: relative;
    padding-bottom: 1rem;
    width: calc(100% - 20px);
    margin: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid black thin;
    /* height: var(--headline-height); */
}

.widget-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.widget-container{
    width: 100%;
}
.h2{

    font-weight: bold;
    font-size: 2.3rem;
    color: black;
    font-family: var(--prime-font);
}
.h3{
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    font-style: italic;
}


nav{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: rgb(80, 80, 80);
    color: var(--prime-bg-color);
    position: relative;
    border-radius: 7px;
    /* height: 1.5rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

/* @media only screen and (max-width: 510px){
    nav{h}
} */

.nav-button{
    box-sizing: border-box;
    font-family: var(--prime-font);
    padding: 0.3rem;
    text-align: center;
    transition: 0.2s;
    border-radius: 7px;
    cursor: pointer;
    /* border: solid thin transparent; */
    font-size: 1.2rem;
    position: relative;
    /* height: 1.4rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
}
.nav-button:hover{
    
    /* background-color: var(--prime-bg-color);
    color: black; */
    transition: 0.2s;
    /* border-radius: 7px; */
    /* border: solid 1px var(--prime-bg-color); */
    /* margin-left: 0px;
    margin-right: 0px; */
    /* box-sizing: border-box; */
}
.nav-button:not(.nav-button-clicked):hover:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    border: solid 1px var(--prime-bg-color);
    border-radius: 7px;
    z-index: 1;
}
.nav-button:active{
    background-color: greenyellow;
    box-shadow: inset 1px 0px 3px 3px rgba(0,0,0,0.5);
    border: none;
}

.nav-button-clicked{
    background-color: rgb(220, 220, 220);
    color: black;
    box-shadow: inset 1px 0px 3px 3px rgba(0,0,0,0.5);  
    cursor: default; 
    border-radius: 7px;
    border:none;
    /* border: solid thin transparent; */
}
.nav-button-clicked:hover{
    border:none;
}

.widget-items {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.content-display{
    position: relative;
    width: 100vw;
    height: calc( 100vh - var(--headline-height));
    overflow: auto;
    overflow: hidden;
}

.widget-container-wrapper{
    position: absolute;
    height: calc( 100vh - var(--headline-height));
    height: 100%;
}
.widget-items-center:bofore, .widget-items-center:after {
    content: '';
    flex: 1;
}

.widgets-container{
    height: 100%;
    width: 100vw;
    overflow: auto;
}

.background-effect-cover{
    height: 200vh;
    position: absolute;
    position: fixed;
    /* margin-top: -100px; */
    background: rgb(248,248,249);
    /* background-image: linear-gradient(45deg, rgba(248,248,249,0.5) 0%, rgba(201,201,215,0.5) 25%, rgba(199,204,218,0.5) 50%, rgba(183,239,250,0.5) 100%),
    repeating-linear-gradient(45deg, rgba(248,248,249,0.5) 20px, rgba(49,49,51,0.4) 40px, rgba(41,48,69,1) 60px, rgba(234,240,241,0.75) 80px),
    repeating-linear-gradient(-45deg, rgba(248,248,249,0.5) 20px, rgba(49,49,51,0.4) 40px, rgba(41,48,69,1) 60px, rgba(234,240,241,0.75) 80px); */

    /* background-image: linear-gradient(45deg, rgba(248,248,249,0.5) 0%, rgba(201,201,215,0.5) 25%, rgba(199,204,218,0.5) 50%, rgba(183,239,250,0.5) 100%),
    repeating-linear-gradient(45deg, rgba(248,248,249,0.5) 50px, rgba(49,49,51,0.4) 100px, rgba(41,48,69,1) 150px, rgba(234,240,241,0.75) 200px),
    repeating-linear-gradient(-45deg, rgba(248,248,249,0.5) 50px, rgba(49,49,51,0.4) 100px, rgba(41,48,69,1) 150px, rgba(234,240,241,0.75) 200px); */

    background-image: 
    /* repeating-linear-gradient(45deg, rgba(248,248,249,0.5) 150px, rgba(49,49,51,0.4) 300px, rgba(41,48,69,1) 450px, rgba(234,240,241,0.75) 600px), */
    repeating-linear-gradient(-45deg, rgba(248,248,249,0.5) 50px, rgba(49,49,51,0.4) 100px, rgba(41,48,69,1) 150px, rgba(234,240,241,0.75) 200px)
    


    /* background-image: url('bg3.JPG'); */

}

.background-effect-cover{
    touch-action: none;
    overflow: hidden;
}

.shout{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.flex-fix::before, .flex-fix::after{
    content: '';
    
    flex: 1;
}
.widget-items:first-child::before, .widget-items:last-child::after{
    content: '';
    width: 100%;
    flex: 1;
    flex: 100%;
}

.flex-fix-wrapper {
    /* flex-direction: column; */
    position: relative;
    overflow: auto;
}