*{
    /* --prime-bg-color: #124191; */
    --prime-bg-color: rgb(220, 220, 220);
    --prime-font: Arial, Helvetica, sans-serif
}

body{
    font-family: var(--prime-bg-color);
    background-color: var(--prime-bg-color);
    position: relative;
    width: 100vw;
    overflow: hidden;
}
a:link{
    color: black;
    transition: 200ms;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 6px;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
    transition: 200ms;
    background-color: yellow;
}
a:active{
    background-color: black;
    color: white;
    transition: 200ms;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex ;
    flex-direction: row;
}
.inline{
    display: flex;
    flex-direction: row;
}
.inline>*{
    line-height: 2rem;
    margin: 0.2rem;
}

.wrapper{
    position: relative;
    /* width: 80%; */
}
.headline{
    position: relative;
    padding-bottom: 1rem;
    width: 100%;;
    margin: 2rem;
    border-bottom: solid black thin;
}

.widget-container{
    display: flex;
    flex-direction: row;
}

.widget-container{
    width: 100%;
}
.h2{

    font-weight: bold;
    font-size: 2.3rem;
    color: black;
    font-family: var(--prime-font);
}
.h3{
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    font-style: italic;
}


nav{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: rgb(80, 80, 80);
    color: var(--prime-bg-color);
}

.nav-button{
    font-family: var(--prime-font);
    padding: 0.3rem;
    transition: 0.2s;
}
.nav-button:hover{
    cursor: pointer;
    background-color: var(--prime-bg-color);
    color: black;
    transition: 0.2s;
    border-radius: 5px;
}
.nav-button:active{
    background-color: greenyellow;
    box-shadow: inset 1px 0px 3px 3px rgba(0,0,0,0.5);
}

.nav-button-clicked{
    background-color: rgb(220, 220, 220);
    color: black;
    box-shadow: inset 1px 0px 3px 3px rgba(0,0,0,0.5);   
}

.widget-items {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.content-display{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.widget-container-wrapper{
    position: absolute;
}

.widgets-container{
    height: 90vh;
    width: 100vw;
}

.background-effect-cover{
    height: 200vh;
    position: absolute;
    /* margin-top: -100px; */
    background: rgb(248,248,249);
    background-image: linear-gradient(45deg, rgba(248,248,249,0.5) 0%, rgba(201,201,215,0.5) 25%, rgba(199,204,218,0.5) 50%, rgba(183,239,250,0.5) 100%),
    repeating-linear-gradient(45deg, rgba(248,248,249,0.5) 20px, rgba(49,49,51,0.4) 40px, rgba(41,48,69,1) 60px, rgba(234,240,241,0.75) 80px),
    repeating-linear-gradient(-45deg, rgba(248,248,249,0.5) 20px, rgba(49,49,51,0.4) 40px, rgba(41,48,69,1) 60px, rgba(234,240,241,0.75) 80px);
}